/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab&family=Road+Rage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&family=Road+Rage&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}
body {
    background-color: #c1c1c1;
    /*background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23000000' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");*/
}

/* Etiquetas */

header{
    background: #460404;
    display: flex;
    align-items: center;
    width: 100%;
}
header img{
    justify-content: center;
    width: 6%;
    padding: 0%;
}
header a {
    background-size: 100% 100%;
    text-align: center;
    padding: 25% 10%;
    text-decoration: none;
}
header h1 {
    text-align: center;
}
nav {
    background: #6e362f;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
}
nav ul li a {
    color: #e9e5b7;
    text-decoration: none;
    padding: 10px 15PX;
    display: block;
    font-family: 'Montagu Slab', serif;
}
nav ul li a:hover {
    color: #107456;
}
main {
    /*background-image: url(../img/capital.barberia\ rola-3.jpg);*/
    background-size: 100%;
    text-align: center;
    padding: 75mm 10%;
    font-family: 'Fredoka One', cursive; 
}
main h3 {
    font-family: 'Fredoka One', cursive;
    font-size: 5vw;
    color: #fcff6b;
    text-shadow: 5px 5px 5px #494a16;
}
main p {
    font-family: 'Fredoka One', cursive;
    font-size: 2.1vw;
    color: #fcff6b;
    text-shadow: 3px 5px 5px #494a16;
}
main img {
    width: 100%;
    font-size: 6.5vw;
}
article {
    font-family: 'Fredoka One', cursive;
    margin: 5px;
    display: flex;
    padding: 2.5pc;
}
article img {
    width: 50%;
    padding-right: center;
}
aside {
    column-count: 4;
    column-rule: 2px dashed #27888c;
    column-gap: 2em;
    margin: 25px;
}
article h2{
    font-size: 150%;
}
article p {
    font-size: 120%;
}
aside p {
    text-align: justify;
}
aside img {
    column-span: 100%;
    width: 100%;
}
article h4 {
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 30px;
}

/* Clases*/

.Logo {
    justify-content: center;
    width: 30%;
}
.Logo a{
    justify-content: center;
}
.Navegacion {
    justify-content: center;
    width: 50%;
    text-align: right;
}
.Logo img {
    width: 35%;
    padding: 5px;
    border-radius: 100px;
}
.Logo a {
    font-family: 25px 'Anton', sans-serif;
    color: #e9e5b7;
    padding: 5px 20px;
    text-align: left;
    font-size: 25px;
}
.Navegacion a {
    color: #e9e5b7;
    text-decoration: none;
    padding-inline-end: 0%;
    font-family: 'Montagu Slab', serif;
    padding: 0px 15px 0px 15px;
}
.Navegacion a:hover {
    color: #107456;
}
.titulo {
    text-align: center;
    margin: 50px 0;
}
.columnas {
    padding:10px 10px;
}
.colum {
    background: #00000000;
    font-family: 'Fredoka One', cursive;
    width: 100%;
    padding: 20px;
    border: 3px solid #000000;
    color: #000000;
    border-radius: 15px;
    text-align: center;
    margin: 1px 10px;
}
.colum img {
    width: 50%;
}
article .img-h {
    width: 25%;
}
.servi1 {
    padding:10px 10px;
}
.servi {
    font-family: 'Fredoka One', cursive;
    width: 50%;
    padding: 0px 10px 0px 15px;
    border: 3px solid #000000;
    color: #000000;
    margin: 1px 10px;
    border-radius: 15px;
    text-align: center;
}
.servi img {
    width: 100%;
    border-radius: 15px;
    border: 3px solid #000000;
}
.info a {
    color: #f83e3e;
}
.serv a {
    color: #f83e3e;
}
.gale a {
    color: #f83e3e;
}
.cont a {
    color: #f83e3e;
}
.shop a {
    color: #f83e3e;
}
.center {
    background: #ffffff00;
    padding: 10px 10px 100px 55px;
}
/**/
div .contenido img {
    border-radius: 4px;
}
.T-contenido h5{
    text-align: center;
    color: #e0dba8;
    font-size: 25px;
    padding: 0px 0px 10px 0px;
}
.final {
    padding: 10px;
    width: 100%;
    background: #460404;
}
.final img {
    width: 3.5rem;
}
.final p {
    padding: 10px 0px 10px 0px;
    color: #e9e5b7;
    text-align: center;
    font-size: 15px;
    justify-content: 20px;
}
.links {
    display:flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 20px;
}
.links a i {
    color: #ffffff;
    font-size: 2rem;
}
/**/
.contenido-info {
    background: #460404b4;
    color: #e0dba8;
    font-size: 15px;
    padding: 5px 0;
}
.contenido {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-start;
    text-decoration: none;
    text-align: center;
}
.contenido ul li a {
    text-decoration: none;
    color: #e9e5b7;
}
.contenido ul li a h3 {
    color: #000;
    padding: 5px;
}
.contenido li img {
    width: 10%;
}
/*center*/



/*galeria*/

img:hover {
    opacity: .9;
    transition: .2s;
}
.servil {
    padding: 1px 10px;
}
.servi2 {
    width: 100%;
    padding: 5px;
    margin: 1px;
    text-align: center;
}
.servi2 img {
    width: 100%;
    border-radius: 15px;
}

