.formulario{
	background: #5e0c0ce7;
	padding: 40px 60px;
	width: 22%;
	margin: 5px auto;
	border-radius: 25px;
    border: 3px solid #000000;
}

.input{
	width: 200px;
}
.titulo h1 {
	text-align: center;
	color: #fff;
	font-size: 32px;
	padding-top: 25px;
}
.section1{
	display: flex;
}

.contenido{
	display: flex;
	margin: 30px auto;
	width: 100%;
}

.button_1 {
    font-size: 20px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    background: #fdfdfd;
    color: #000000;
}
.button_1:hover {
    background: #4650d8;
}