.formulario {
    background: white;
    padding: 40px 60px;
    width: 22%;
    margin: 5px auto;
    border-radius: 25px;
    border: 3px solid #5e0c0ce7;
}

.input {
    width: 200px;
}

.titulo h1 {
    text-align: center;
    color: #5e0c0ce7;
    font-size: 32px;
    padding-top: 25px;
}

.section1 {
    display: flex;
}

.contenido {
    display: flex;
    margin: 30px auto;
    width: 100%;
}

.button_1 {
    font-size: 20px;
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    background: #5e0c0ce7;
    color: white;
}

.button_1:hover {
    background: green;
}

label {
    color: black;
}

div {
    font-family: 'Hind Guntur', sans-serif;

}