* {
    background: #ffffff;
    margin: 4%;
}

/*clases*/

.Error-1 {
    text-align: center;  
}
.Error-1 p {
    font-size: 5.8mm;
    font-family: 'Source Code Pro', monospace;
}
.Error-1 a {
    font-family: 'source code pro', monospace;
    font-size: 25px;
    border-radius: 15px;
    padding: 5px;
    background: #e8491d;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
}
.Error-1 img {
    width: 100%;
    justify-content: center;
}
.button_1 {
    font-family: 'source code pro', monospace;
    font-size: 25px;
    border-radius: 25px;
    height: 40px;
    background: #e8491d;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
}
.button_1:hover {
    background: #411c6b;
}


