* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
}

.caja1 {
    margin: 50px 20px;
    width: 500px;
    padding: 10px;
    border: 4px solid #5e0c0ce7;
    border-radius: 10px;
    box-shadow: 3px 0px 30px #8b0303;
    text-align: center;
    float: left;
}

.formulario-label {
    display: block;
    font-weight: 700;
    padding: 2px;
    cursor: pointer;
    text-align: center;
}

.formulario-grupo-input {
    position: relative;
}

.formulario-input {
    width: 65%;
    background: #dcdbdb;
    border-radius: 5px solid transparent;
    height: 30px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    border-radius: 5px;
    transition: .3s ease all;
}

.imput-contenedor select {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
}

.formulario-input:focus {
    border: 2px solid;
    outline: none;
    box-shadow: 3px 0px 30px #5e0c0c;
}

.formulario-btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #5c0000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario-btn:hover {
    box-shadow: 3px 0px 30px #9a0101;
}

.formulario-btn:hover {
    box-shadow: 3px 0px 30px #717171e4;
}

.formulario-mensaje-exito {
    font-size: 15px;
    color: #ff0000;
    display: none;
}

.formulario-mensaje-exito-activo {
    display: block;
}

.formulario-grupo-correcto .formulario-validacion-estado {
    color: #3dd600;
    opacity: 1;
}

.formulario-grupo-incorecto .formulario-label {
    color: #d60000;
}

.formulario-grupo-incorecto .formulario-validacion-estado {
    color: #d60000;
    opacity: 1;
}

.formulario-grupo a {
    text-decoration: none;
    color: #ffffff;
}

.formulario-grupo button:hover {
    background: #a10d00;
}

/*111111111111111111
.section1 {
    background: #ffffff;
    display: flex;
}

.conteni-do {
    display: flex;
    margin: 30px auto;
    width: 95%;
}

.text h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    text-align: center;
}

.text p {
    font-family: 'Times New Roman', Times, serif;
}

.col {
    display: flex;
    margin: 0 25px;
    align-items: center;
    padding: 20px;
    background: #5e0c0ce7;
    border-radius: 20px;
    border: 3px solid #000000;
}

.col i {
    font-size: 50px;
    padding: 0 200px 0 200px;
}

.color {
    color: #fcfcfc;
}

.border {
    border-bottom: 3px solid #333333;
}

.imput-contenedor i {
    font-size: 20px;
    padding: 10px;
}

.button_1 {
    font-size: 20px;
    border-radius: 25px;
    height: 20px;
    background: #790a0a;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    color: #ffffff;
    text-decoration: none;
}

.button_1:hover {
    background: #f0850b;
}

.Error-1 {
    text-align: center;
}