* {
    margin: 0;
}

.header {
    text-align: center;
    height: 300px;
    padding: 15px;
    background-image: url(../img/capital.barberia\ rola-1.jpg);
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user-name {
    font-size: 30px;
    margin-top: 14px;
    color: #000000;
}

.redes {
    list-style: none;
    text-align: center;
    padding: 0;
}

.redes li {
    display: inline-block;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #460404;
}

a:hover {
    color: #460404;
}

.redes li img {
    padding: 0px 2px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: cover;
}

.about {
    padding: 10px;
}

.about h3 {
    color: #000;
    font-size: 16px;
}

.about p {
    color: #000;
    font-size: 14px;
}

.perfil {
    padding: 5px;
    text-align: center;
    color: #ffffff;
    background: #460404;
}