@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');
*{
	margin: 0;
}
section{
	background: #ffffffe7;
}

/*estilo para principal.html*/

.contenido{
	display: flex;
	margin: 30px auto;
	width: 95%;
}
.contenido h3 {
	text-align: center;
	color: #000000e7;
	font-size: 25px;
}
.col{
	display: flex;
	margin: 0 20px;
	padding: 50px;
	background: #5e0c0ce7;
	border-radius: 15px;
}
.borderA{
	border-bottom: 4px solid #1b1b1b;
}
.text p{
	font-family: 'Hind Guntur',serif;
	font-size: 1.1rem;
	color: #ffffffe7;
}
.icono i {
    color:#ffffff;
    font-size: 500%;
	padding: 0px 10px 50px 180px;
}
